doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    //- meta(description=desc)
    meta(viewport="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/images/favicon.png')
  body
    block content
